<div ng-controller="SecurityCtrl as security">
	<div error-directive></div>
	<form method="POST" class="form-horizontal" name="delUserForm" role="form" ng-submit="delUserForm.$valid && security.deleteUser();"autocomplete="off">
		<label for="login">Login: </label>
		<input id="login" type="text" ng-model="security.delUser.login" required>
		<br>
		<label for="password">Password: </label>
		<input id="password" type="text" ng-model="security.delUser.password" required>
		<br><br>
		<div class="form-group">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary pull-left" ng-disabled="isDisabled">
					<span class="fa fa-check">Submit</span>
				</button>
			</div>
		</div>
	</form>
</div>