<div ng-controller="SecurityCtrl as security">
	<div error-directive></div>
	<form method="POST" class="form-horizontal" name="profileForm" role="form" ng-submit="profileForm.$valid && security.updateProfile();"autocomplete="off">
		<div class="subDiv col-xs-12">
			<div class="form-group">
				<legend>Profile Form</legend>
			</div>

			<div class="form-group">
				<label for="iduser" class="col-xs-4 control-label">IdUser</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-fw">
								<b style="font-size:1.2em;">id</b>
							</span>
						</div>
						<input type="text" class="form-control" id="iduser" ng-model="security.user.id" readonly>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="login" class="col-xs-4 control-label">Login</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-fw">
								<b style="font-size:1.2em;">lgn</b>
							</span>
						</div>
						<input type="text" class="form-control" id="login" ng-model="security.user.login">
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="col-xs-4 control-label">Email</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-fw">
								<b style="font-size:1.2em;">@</b>
							</span>
						</div>
						<input type="email" class="form-control" id="email" placeholder="email address" ng-disabled="isDisabled" autocomplete="off" ng-model="security.user.email" ng-enter="profileForm.$valid && security.updateProfile()"required>
					</div>
				</div>
			</div>

			<hr>
			<div class="form-group">
				<label for="active" class="col-xs-4 control-label">Active</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-fw">
								<b style="font-size:1.2em;">act</b>
							</span>
						</div>
						<input type="checkbox" class="form-control" id="active" ng-model="security.user.active">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="attempts" class="col-xs-4 control-label">Attempts</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-fw">
								<b style="font-size:1.2em;">ats</b>
							</span>
						</div>
						<input type="text" class="form-control" id="attempts" ng-model="security.user.attempts" readonly>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="lastModified" class="col-xs-4 control-label">Last Modified</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-fw">
								<b style="font-size:1.2em;">mod</b>
							</span>
						</div>
						<input type="text" class="form-control" id="lastModified" ng-model="security.user.lastmodified" readonly>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="maxAttempts" class="col-xs-4 control-label">Max Attempts</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-fw">
								<b style="font-size:1.2em;">max</b>
							</span>
						</div>
						<input type="text" class="form-control" id="maxAttempts" ng-model="security.user.maxAttempts" readonly>
					</div>
				</div>
			</div>
			<hr>

			<div class="form-group">
				<label for="pwd1" class="col-xs-4 control-label">New Password</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-key fa-fw"></span>
						</div>
						<input type="password" class="form-control" id="pwd1" ng-disabled="isDisabled" ng-model="security.user.password1" ng-enter="profileForm.$valid && security.updateProfile()">
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="pwd2" class="col-xs-4 control-label">Confirm Password</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-key fa-fw"></span>
						</div>
						<input type="password" class="form-control" id="pwd2" ng-disabled="isDisabled" ng-model="security.user.password2" ng-enter="profileForm.$valid && security.updateProfile()">
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="col-xs-4 control-label">Password</label>
				<div class="col-xs-8 col-md-6 col-lg-4">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-key fa-fw"></span>
						</div>
						<input type="password" class="form-control" id="pwd" ng-disabled="isDisabled" ng-model="security.user.password" ng-enter="profileForm.$valid && security.updateProfile()" required>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary pull-right" ng-disabled="isDisabled">
					<span class="fa fa-check">Suubmit</span>
				</button>
			</div>
		</div>
	</form>
</div>